{{#em-card title="Cards"}}

  <div class="section">
    <p>A basic card.</p>
    {{#em-card title="Basic Card"}}
      <p>Some content here.</p>
    {{/em-card}}
  </div>

  <div class="section">
    <p>A card with some color</p>
    {{#em-card title="I like teal" class="teal lighten-2"}}
      <p class="white-text">A card of any color</p>
    {{/em-card}}
  </div>

{{/em-card}}
