{{#em-card title="Welcome"}}
  <p>
    Welcome to Ember Materialize.
  </p>
  <p>
    This Ember Addon aims to be an alternative for developer's looking for a simple wrapper for the Materialize CSS project.
  </p>
{{/em-card}}

