{{#mc-card title="Welcome"}}
  <p>
    Welcome to Ember Materialize CSS.
  </p>
  <p>
    This Ember Addon does not aim to be a replacement for "ember-cli-materialize".
  </p>
  <p>
    Having struggled with external dependencies during upgrades, it seemed worthwhile to provide an addon that installs only Materialize assets.
  </p>
{{/mc-card}}

